/* styles_result.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-container .original-image,
.image-container .detection-image {
    margin: 0 20px;
    text-align: center;
}

.image-container h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.image-container img {
    max-width: 100%;
}
