<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Image for Classification</h1>
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        <form id="upload-form" method="POST" enctype="multipart/form-data">
            <label for="file-upload" class="custom-file-upload button-style">
                Choose File
                <input type="file" id="file-upload" name="file" accept="image/*" required>
            </label>
            <span id="file-name" class="file-name"></span>
            <button type="submit" id="upload-button" class="button-style">Upload</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
